body{
    background-color: gray
  }
  h1{
    text-align: center;
    color: red;
    background-color: black
  }
  img{
    display: flex;
    margin: auto;
    border-radius: 10%;
    transition: 1s;

  }
  img:hover{
    Padding: 10px;
   
    width: 400px;
  }
  h3{
    texg-align: center;
   
  }
